.music-list {
    width: clamp(310px, 60rem, 100%);
    max-height: clamp(680px, 36vw, 80vh);
    margin-left: auto;
    background-color: var(--accent-clr-light);
    box-shadow: 0 -5px 10px rgba(0, 0, 0, .1);
    padding: 0 .5rem;
    opacity: 1;
    overflow-y: auto;
    transition: .2s;
}

.header {
    padding-inline: .5rem;

    background-color: var(--primary-clr-dark);
    color: var(--accent-clr-light);
    margin-bottom: 1rem;

    & span {
        color: var(--accent-clr-light);
    }
}

.music-list span {
    margin-inline: .5rem;
}

.list {
    margin-bottom: .5rem;
}

.show {
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
}

.fa-regular {
    opacity: 0;
    pointer-events: none;
    transition: .5s;
    color: var(--accent-clr-light);

    &:where(:hover, :focus-visible) {
        opacity: 1;
        color: var(--secondary-clr);
        pointer-events: all;
    }
}

.tr {
    transition: .2s;
    color: var(--text-dark-clr);

    &:where(:hover, :focus-visible) {
        background-color: var(--primary-clr-dark);
        color: var(--accent-clr-light);

        & .fa-regular {
            opacity: 1;
            pointer-events: all;
        }

        & .song-artist {
            color: var(--accent-clr-light);
        }

        & .action-btns {
            background-color: var(--accent-clr-light);
        }
    }


}

.song-artist {
    color: var(--primary-clr-dark);

    &:where(:hover, :focus-visible) {
        text-decoration: underline;
        text-underline-offset: 5px;
    }
}

.playlist-song-details {
    cursor: pointer;
}

.music-table {
    border-collapse: collapse;
    margin-inline: auto;
    width: 100%;
    margin-bottom: 1rem;

    @media(width < 768px) {

        & th:nth-child(4),
        & td:nth-child(4) {
            display: none;
        }


    }

    @media (width < 500px) {

        & th:nth-child(1),
        & td:nth-child(1) {
            display: none;
        }

        & th:nth-child(5),
        & td:nth-child(5) {
            display: none;
        }
    }
}

.music-table th,
.music-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

.music-table tr.playing {
    color: var(--accent-clr-light);

    background-color: var(--primary-clr-light-dark);

    & .fa-regular {
        opacity: 1;
        pointer-events: all;
    }

    & .song-artist {
        color: var(--accent-clr-light);
    }

    & .action-btns {
        background-color: var(--accent-clr-light);
    }
}

.music-table img {
    border-radius: .5rem;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;

    & label {
        font-weight: 500;
        font-size: 1.15rem;
    }
}

.modal-content h2 {
    margin-bottom: 1rem;
}

.modal-content button {
    margin: 1.5rem 5px 5px 5px;
    padding: 0.5rem 1.25rem;
    outline: none;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    color: var(--text-dark-clr);
    background-color: var(--secondary-clr);
    border-radius: 5rem;
    transition: 0.3s;
    cursor: pointer;

    &:where(:hover, :focus-visible) {
        background-color: var(--secondary-clr-light);
    }
}

.custom-select {
    min-width: 350px;
    position: relative;
}

.add-song-to-playlist {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
}

.custom-select::before,
.custom-select::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
}

.custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
}

.custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
}

.playlist-description {
    display: flex;
    justify-content: space-between;
    margin-inline: 1rem;
    margin-block: .5rem;
    gap: 1rem;

    & p:not(:empty) {
        font-weight: 600;
        background-color: var(--secondary-clr-light);
        padding: .25rem 1rem;
        border-radius: 1rem;
    }
}

.music-table tbody tr td i.fa-play {
    font-size: 1.2em;
    color: #000;
}

.add-to-playlist {
    margin-right: 1rem;
    cursor: pointer;
}

.sort-controls input[type="search"] {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.sort-controls label {
    font-weight: bold;
    margin-right: 0.5rem;
    margin-top: .5rem;
}


.sort-controls div {
    display: flex;
    align-items: center;
}

.sort-controls .select-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.sort-controls .search-container {
    flex: 1;
}