.music-list {
    width: clamp(390px, 55rem, 100%);
    max-height: clamp(320px, 35vw, 80vh);
    margin-left: auto;
    isolation: isolate;
    z-index: 9;
    background-color: var(--accent-clr-light);
    box-shadow: 0 -5px 10px rgba(0, 0, 0, .1);
    padding: 0 .5rem;
    opacity: 1;
    overflow-y: auto;
    transition: .2s;
}

.header {
    padding-inline: .5rem;
    position: sticky;
    top: 0;
    background-color: var(--primary-clr-dark);
    color: var(--accent-clr-light);
    margin-bottom: 1rem;

    & span {
        color: var(--accent-clr-light);
    }
}

.music-list span {
    margin-inline: .5rem;
}

.list {
    margin-bottom: .5rem;
}

.show {
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
}

tr {
    cursor: pointer;
    transition: .2s;

    &:where(:hover, :focus-visible) {
        background-color: var(--primary-clr-dark);
        color: var(--accent-clr-light);
    }
}

.music-table {
    border-collapse: collapse;
    margin-inline: auto;
    width: 100%;

    @media(width < 768px) {

        & th:nth-child(4),
        & td:nth-child(4) {
            display: none;
        }

        & th:nth-child(1),
        & td:nth-child(1) {
            display: none;
        }
    }
}

.music-table th,
.music-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

.music-table tr.playing {
    color: var(--accent-clr-light);
    background-color: var(--primary-clr)
}

.music-table img {
    border-radius: .5rem;
}