.music-list {
    width: 380px;
    max-height: clamp(270px, 35vw, 80vh);
    isolation: isolate;
    z-index: 9;
    background-color: var(--card-clr);
    box-shadow: 0 -5px 10px rgba(0, 0, 0, .1);
    padding: 0 .5rem;
    opacity: 1;
    overflow-y: auto;
    transition: .2s;
}

.header {
    padding-inline: .5rem;
    position: sticky;
    top: 0;
    background-color: var(--primary-clr-dark);
    color: var(--white);
    margin-bottom: 1rem;

    & span {
        color: var(--white);
    }
}

.music-list span {
    margin-inline: .5rem;
}

.list {
    margin-bottom: .5rem;
}

.show {
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
}

ul {
    padding: 0;
}

.music-list li {
    font-size: clamp(1rem, 1.15vw, 1.2rem);
    cursor: pointer;
    list-style: none;
    padding-bottom: .75rem;
    border-bottom: 1px solid #e5e5e5;
    color: var(--card-text-light-clr)
}

li:last-child {
    border-bottom: none;
}

ul li.playing {
    color: var(--primary-clr);
}