@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


.fa-solid,
.bi {
    cursor: pointer;
}

.body {
    display: flex;
    justify-content: space-between;
    margin-inline: .8rem;
    gap: 2rem;
    align-items: start;
    margin-bottom: 2rem;

    @media (width < 1000px) {
        flex-direction: column;

        & .playlists {
            width: clamp(310px, 60rem, 100%);
            height: auto;
        }

        & .playlist-description {
            flex-direction: column;
            text-align: center;
        }

    }
}

.text-center {
    text-align: center;
}

label {
    color: black;
}

.wrapper {
    width: max(350px, 40vw);
    transition-duration: .6s;
    transition-property: display opacity;
    max-height: 630px;
    overflow: hidden;
    position: fixed;
    bottom: .5rem;
    left: 50%;
    translate: -50%;
    background-color: var(--accent-clr-light);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
    padding: .25rem 1.5em;
    border-radius: 1rem;
    z-index: 99;
}

.wrapper.collapsed {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    align-items: center;
    width: max(330px, 90vw);
    max-height: 75px;

    .controls {
        gap: 1rem;
        margin: 0;
    }

    .progress-area {
        width: clamp(100px, 15vw, 100%);
    }

    #volume {
        width: 75%;
    }

    #volume-button {
        position: relative;
    }

    .range {
        width: 100px;
        top: 1.1rem;
        rotate: 0deg;
    }

    .name {
        width: clamp(100px, 20vw, 20rem);
    }

    @media (width < 850px) {
        display: grid;
        grid-template-columns: 1fr;
        max-height: 175px;


        .controls {
            justify-content: center;
            gap: 1.1rem;
            margin-top: 0.7rem;
        }

        #volume {
            width: 75%;
        }

        .progress-area {
            width: 100%;
        }

        .range {
            rotate: -90deg;
            right: -2.2rem;
            top: -3rem;
        }

        .name,
        .artist {
            width: 80vw;
            margin-inline: auto;
        }

    }
}

.img-area {
    @starting-style {
        opacity: 0;
    }

    opacity: 1;
    display: block;
    height: 25.5rem;
    margin-block: 1rem;
}

.wrapper.collapsed #playback-speed,
.wrapper.collapsed .lyrics-wrapper {
    display: none;
}

.wrapper.collapsed .img-area {
    display: none;
    opacity: 0;
    transition-property: display opacity;
    transition-duration: .6s;
    transition-behavior: allow-discrete;
}


.top-section {
    & h2 {
        margin-inline: auto;
        color: black;
    }

}

@keyframes slide {
    0% {
        transform: translateX(10%);
    }

    50% {
        transform: translateX(-55%);
    }

    100% {
        transform: translateX(10%);
    }
}

.name {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    font-size: 1.2rem;
    font-weight: bold;
    text-overflow: ellipsis;
    margin-inline: auto;
}

.name::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.name.animate span {
    display: inline-block;
    animation: slide 18s linear infinite;
}

.artist {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: clamp(100px, 19vw, 20rem);
    margin-inline: auto;
}

.top-section,
.timer,
.controls,
.play-pause,
.header,
.music-list li,
.row,
.range {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-section span {
    font-size: 1.2rem;
    color: var(--card-text-light-clr);
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    object-fit: cover;
}

@keyframes turn {
    to {
        rotate: 360deg;
    }
}

.song-details {
    margin-block: .5rem;
}

.progress-area {
    height: 6px;
    background-color: hsl(0, 0%, 90%);
    border-radius: 3rem;
    cursor: pointer;
}

.progress-bar {
    position: relative;
    height: inherit;
    border-radius: inherit;
    width: 0%;
    background: var(--bg)
}

.progress-bar::before {
    content: '';
    position: absolute;
    width: .8rem;
    aspect-ratio: 1;
    top: 50%;
    right: -.4rem;
    translate: 0 -50%;
    border-radius: inherit;
    background: inherit;
    opacity: 0;
    transition: .3s;
}

.progress-area:hover .progress-bar::before {
    opacity: 1;
}

.timer {
    margin-top: .2rem;
}

.timer span {
    font-size: .85rem;
    color: var(--card-text-light-clr);
}

.controls {
    margin: 2rem .3rem;
}

.fa-solid {
    font-size: 1.1rem;
    user-select: none;
    background: var(--bg);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .5s;

    &:where(:hover, :focus-visible) {
        outline: 1px solid var(--secondary-clr);
        outline-offset: 3px;
        background: linear-gradient(var(--secondary-clr) 100%, var(--primary-clr) 0%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

#prev,
#next {
    font-size: 1.6rem;

}

.play-pause {
    justify-content: center;
    width: 2.8rem;
    aspect-ratio: 1;
    background: linear-gradient(var(--accent-clr-light) 0%, var(--darkwhite) 100%);
    box-shadow: 0 0 5px var(--secondary-clr);
    border-radius: 50%;

}

.play-pause::before {
    content: "";
    position: absolute;
    width: 2.3rem;
    aspect-ratio: 1;
    border-radius: inherit;
    background: var(--bg);
}

.play-pause i {
    position: relative;
    width: 2.3rem;
    aspect-ratio: 1;
    line-height: 2.3rem;
    border-radius: inherit;
    background: inherit;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wrapper .range {
    rotate: -90deg;
    display: none;
    opacity: 0;
    transition-property: display opacity;
    transition-duration: .5s;
    transition-behavior: allow-discrete;
    bottom: 5.9rem;
    right: -2.2rem;
    position: absolute;

}

#volume-button:where(:hover, :focus-visible) .range {
    @starting-style {
        opacity: 0;
    }

    opacity: 1;
    display: block;

}

#volume-button:where(:focus-visible) #volume {
    outline: 2px solid var(--primary-clr-dark);

}

#volume {
    accent-color: var(--accent-clr-light);
    cursor: pointer;
    width: 90%;
}

#volume::-webkit-slider-runnable-track {
    background: var(--bg);
    border-radius: 100vw;
}

.header {
    color: black;

    & i {
        cursor: pointer;
    }
}

.lyrics-wrapper {
    max-width: 100%;
    position: relative;
}

.lyrics {
    max-height: clamp(330px, 26.875rem, 100%);
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}