/*css variables*/
:root {
    --body-bg-color: #dce4e3;
    --green: #18c29c;
    --light-green: #8ed7c6;
    --light-grey: #dce4e3;
    --text-color: #084236;
}

/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}



a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}



.navbar {
    z-index: 999;
    width: min(2rem, 4rem);
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .4s;
}


.navbar .navbar-container {
    padding: 1rem;
}

.navbar .navbar-container .navbar-logo-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.7rem;
}

.navbar .navbar-container .navbar-logo-div .navbar-toggler {
    transition: .2s ease-in-out;
}

.navbar .navbar-container .navbar-logo-div .navbar-toggler i {
    font-size: 1rem;
}

.navbar .navbar-container .navbar-logo-div .navbar-toggler:where(:hover, :focus-visible) {
    color: var(--accent-clr-light);
}

.navbar-logo-link {
    background-color: var(--accent-clr-light);
    padding: 0 .5rem;
    border-radius: .25rem;
    transition: .2s;

    &:where(:hover, :focus-visible) {
        background-color: var(--text-light-clr);
    }
}

.navbar .navbar-container .navbar-logo-div .navbar-logo-link {
    display: none;
}

.navbar .navbar-search {
    width: 100%;
    background-color: var(--secondary-clr-light);
    background-position: center;
    margin-left: -.75rem;
    padding: .5rem;
    border-radius: 10px;
    margin-bottom: 1.2rem;
}

#icon-search {
    position: absolute;
    cursor: pointer;
    color: var(--primary-clr-light-dark);
    font-size: .8rem;
    top: 4.6rem;
    left: .45rem;
    transition: .25s;

    &:where(:hover, :focus-visible) {
        outline: 1px solid var(--primary-clr);
        outline-offset: 2px;
    }
}

.navbar .navbar-search::placeholder {
    visibility: hidden;
    opacity: 0;
}

.navbar .menu-list {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.8rem;
    width: 100%;
}

.navbar .menu-list .menu-item {
    width: 100%;
}


.navbar .menu-list .menu-item .menu-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    font-weight: 500;
    cursor: pointer;
}


.navbar .menu-list .menu-item .menu-link .menu-link-text {
    display: none;
    color: inherit;
}

.navbar.active .menu-list .menu-item:not(.active):where(:hover, :focus-visible) {
    background-color: var(--primary-clr-dark);
    color: var(--accent-clr-light);
}

.navbar .user-container {
    background-color: var(--secondary-clr-light);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
}

.navbar .user-container .user-info {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    display: none;
}

.navbar .user-container .user-info i {
    font-size: 1.2rem;
}

.navbar .user-container .user-info .user-details .user-name {
    font-size: 1.1rem;
    font-weight: light;
}

.navbar .user-container .user-info .user-details .user-occupation {
    font-size: 0.9rem;
    font-weight: lighter;
}

.navbar.active {
    width: 350px;
    max-width: 20%;
}

.navbar.active .navbar-container .navbar-logo-div {
    justify-content: space-between;
    padding-left: 1rem;
}

.navbar.active .navbar-container .navbar-logo-div .navbar-logo-link {
    display: block;
}

.navbar.active .navbar-search {
    background-position: 1rem 0.7rem;
    padding: 1rem;
    padding-left: 3rem;
}

.navbar.active #icon-search {
    top: 5.1rem;
    left: 1.6rem;
}

.navbar.active .navbar-search::placeholder {
    visibility: visible;
    opacity: 1;
}


.navbar.active .menu-list .menu-item .menu-link {
    justify-content: flex-start;
}

.navbar.active .menu-list .menu-item .menu-link .menu-link-text {
    display: inline;
}

.navbar.active .user-container {
    justify-content: space-between;
    align-items: center;
}

.navbar.active .user-container .user-info {
    display: flex;
}

.navbar.active .menu-list .menu-item {
    padding: .2rem;
    transition: 0.2s;
    background-color: var(--accent-clr-light);
}

.navbar.active .menu-list .menu-item.active {
    background-color: var(--primary-clr-light-dark);
    color: var(--accent-clr-light);
    border-radius: .25rem;
}

.navbar:not(.active) .menu-list .fas {
    background-color: var(--accent-clr-light);
    padding: .2rem;
    transition: .2s;

    &:where(:hover, :focus-visible) {
        background-color: var(--primary-clr-dark);
        color: var(--accent-clr-light);
    }
}

.menu-list .menu-item.active .fas {
    background-color: var(--primary-clr-light-dark);
    color: var(--accent-clr-light);
}

.dashboard {
    width: auto;
    height: auto;
    margin-left: clamp(1.7rem, 3vw, 100%);


}


@media only screen and (max-width: 870px) {
    .navbar.active {
        max-width: 27%;
    }

}

@media only screen and (max-width: 670px) {
    .navbar.active {
        min-width: 100%;
    }

    .navbar .navbar-container {
        position: relative;
        width: 100%;
    }

}

@media only screen and (max-width: 350px) {
    .dashboard .title {
        font-size: 1.7rem;
    }
}

.logout-btn {
    transition: .25s;

    &:where(:hover, :focus-visible) {
        scale: 1.25;
    }
}