@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-clr: hsl(295, 22%, 54%);
    --primary-clr-dark: hsl(213, 14%, 12%);
    --navigation-clr: hsl(213, 14%, 2%);
    --secondary-clr: hsl(339, 100%, 73%);
    --text-dark-clr: hsl(213, 14%, 12%);
    --text-light-clr: hsl(0, 0%, 95%);
    --white: #ffffff;
    --bg: linear-gradient(var(--secondary-clr) 5%, var(--primary-clr) 95%);
    --gradient-1: linear-gradient(to bottom, var(--primary-clr), #1d2127);

    --card-clr: hsl(0, 0%, 100%);
    --darkwhite: hsl(0, 4%, 80%);
    --card-text-clr: hsl(0, 0%, 10%);
    --card-text-light-clr: hsl(0, 0%, 30%);

    --max-width: 1200px;
}

::-webkit-scrollbar {
    width: 0.7em;
    transition: 0.25s;
}

::-webkit-scrollbar-track {
    background-color: deeppink;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(350, 100%, 88%);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:where(:hover, :focus-visible) {
    background-color: hsl(350, 100%, 82%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;


}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

ul {
    list-style: none;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    background: var(--bg)
}
.scrollToTop {
    position: fixed;
    bottom: 2rem;
    right: .25rem;
    z-index: 1000;
}

.scrollButton {
    background-color: var(--card-text-clr);
    border: none;
    border-radius: 50%;
    padding: 10px;
    color: var(--white);
    cursor: pointer;
    transition: .3s;
    opacity: 0;
    transform: translateY(100px);
    visibility: hidden;
}

.scrollButton.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.scrollButton:hover {
    background-color: var(--card-text-light-clr);
    color: var(--white);
}