@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-clr: hsl(295, 22%, 54%);
    --primary-clr-light-dark: hsl(from var(--primary-clr) h s 25%);
    --primary-clr-dark: hsl(213, 14%, 18%);
    --secondary-clr: hsl(339, 100%, 73%);
    --secondary-clr-light: hsl(from var(--secondary-clr) h s 85%);
    --text-dark-clr: hsl(213, 14%, 12%);
    --text-light-clr: hsl(0, 0%, 95%);
    --accent-clr-dark: hsl(210, 20%, 10%);
    --accent-clr-light: hsl(0, 0%, 100%);
    --bg: linear-gradient(var(--secondary-clr) 5%, var(--primary-clr) 90%);
    --gradient-1: linear-gradient(to bottom, var(--primary-clr), #1d2127);

    --darkwhite: hsl(0, 4%, 80%);
    --card-text-clr: hsl(0, 0%, 10%);
    --card-text-light-clr: hsl(0, 0%, 30%);

    --max-width: 1200px;
}

::-webkit-scrollbar {
    width: 0.7em;
    transition: 0.25s;
}

::-webkit-scrollbar-track {
    background-color: deeppink;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(350, 100%, 88%);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(350, 100%, 82%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

ul {
    list-style: none;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    background: var(--bg)
}


.scrollToTop {
    position: fixed;
    bottom: 2rem;
    right: .25rem;
    z-index: 1000;
}

.scrollButton {
    background-color: var(--primary-clr-light-dark);
    border: none;
    border-radius: 50%;
    padding: .69rem;
    color: var(--accent-clr-light);
    cursor: pointer;
    transition: .3s;
    opacity: 0;
    transform: translateY(100px);
    visibility: hidden;
}

.scrollButton.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.scrollButton:hover {
    background-color: var(--secondary-clr-light);
    color: var(--accent-clr-dark);
}

.action-btns {
    transition: .25s;
    display: flex;
    gap: 1rem;
    padding: .25rem;
    width: fit-content;
}

.error {
    color: red;
    margin-bottom: 3px;
    font-size: 1.1rem;
    font-weight: bold;
}

.input-field {
    max-width: 410px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
    width: 100%;
}

.input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
}

.eye {
    position: absolute;
    left: 88%;
    cursor: pointer;
}